@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,800;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    height: 100vh;
    background-color: #071B2A;
    font-family: Poppins, sans-serif;
}

.animated-text{
    font-size: 56px;
    font-weight: 700;
    min-width: 200px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Jhan Rey";
    color: #00abf0;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #071B2A;
    border-left: 2px solid #00abf0;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left:2px solid #00abf000 ;
    }
}

@keyframes words {
    0%,20%{
        content: "Jhan Rey";
    }
    21%,40%{
        content: "Developer";
    }
    41%,60%{
        content: "Programmer";
    }
    61%,80%{
        content: "Gamer";
    }
    81%,100%{
        content: "Handsome";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(0, 143, 95);
    display:flex;
    justify-content:space-between; 
    align-items: center;
    z-index:100;
}

.logo{
    font-size: 25px;
    color:#ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover {
    color:#2f3542;
}

.home{
    height: 100vh;
    background: url('imgko.png') no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    padding: 0 10%;
}

.home-content h3{
    max-width: 100px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 1px;
    z-index: 1;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color:#081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top:0;
    right: 5px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: #071B2A;
    opacity: .8;
}




















